<% notifdetails = Notification.find_by(id: notif) %>
<% if getid != notifdetails.user_id %>
	<% post = Post.find_by(id: notifdetails.post_id) %>
	<% li_id=[getid,notifdetails.id] %>
	<% li_id=li_id.join %>
	<!--<li id='<%= li_id %>'><%= link_to notifdetails.message, post_path(post) %></li>-->
<% end %>
	<div class="col-md-4 col-lg-4">
	<div class="notificationblock">
<!--	<h2><i class="fa fa-envelope-o"></i></h2>-->
			<div id="notificationheader">
					<%= image_tag(post.cat.image,:class=>"pics") %>
					<span id="headertext"><%= post.cat.category %></span>
					<button type="button" class="close" onclick = "destroy('<% getid %>','<% notif %>')" >&times;</button></div>
					<% if post.date %>
		  			<p>Event date <%=post.date %></p>
		  		<%else %>
		  			<p>Event starts from <%=post.fromdate %>
		  			and ends at <%= post.todate %></p>
		  		<%end%>	
		 		  <%= link_to 'Read more',post_path(:id => post.id.to_s+"@"), :remote => true, "data-toggle" => "modal", "data-target" => "#postModal"%>		
	</div>
		</div>
<% end %>
