<% if !logged_in? %>
	<div class="container">
	<%= render 'shared/login' %>
	</div>
<% end %>
<br>
<ul class="notifs">
<% if logged_in? %>
	<% if !@usercat.nil? %>
		<% notifs=@usercat.notifids %>
		<div class="notifs">
			<%= render :partial => 'notif' %>
		</div>
	<% else %>
		<% @notifs.each do |notif| %>
			<% if current_user.id != notif.user_id %>
				<% post=notif.post %>
				<% userid=getid %>
				<% li_id=[getid,notif.id] %>
				<% li_id=li_id.join %>	
				<li id='<%= li_id %>'><%= link_to notif.message, post_path(post) %></li>
			<% end %>
		<% end %>
	<% end %>
<% end %>
</ul>
<% if false %>
<%= javascript_tag do %>
setTimeout(function(){
   window.location.reload(1);
}, 5000);
<% end %>
<% end %>
