<h1>Notification Portal</h1>
<% if logged_in? %>
	<h2><%= current_user.fullname %></h2>
	<%= link_to "Log out", logout_path, method: "delete" %><br>
	<% if admin? %>
	<%= link_to "New Post", new_post_path %><br>
	<% end %>
	<%= link_to "All Posts", posts_path %>
<% else %>
	<%= link_to "Log in", login_path %>
<% end %>
<br>
<ul class="notifs">
<% if logged_in? %>
	<% usercat= Usercat.find_by(user_id: current_user.id) %>
	<% if !usercat.nil? %>
		<% notifs=usercat.notifids %>
		<% if !notifs.nil? %>
		<% notifs=notifs.split(',') %>
		<% notifs.map!{ |notif| notif.to_i } %>
				<% @notifs.each do |notif| %>
					<% if current_user.id != notif.user_id %>
						<% notifs.each do |n| %>
							<% if notif.id == n %>
								<% post=notif.post %>
								<% userid=getid %>
								<% li_id=[getid,notif.id] %>
								<% li_id=li_id.join %>
								<% notif.save %>
								<li id=<%= li_id %>><%= link_to notif.message, post_path(post) %></li>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
		<% end %>
	<% else %>
		<% @notifs.each do |notif| %>
			<% if current_user.id != notif.user_id %>
				<% post=notif.post %>
				<% userid=getid %>
				<% li_id=[getid,notif.id] %>
				<% li_id=li_id.join %>
				<% notif.save %>
				<li id=<%= li_id %>><%= link_to notif.message, post_path(post) %></li>
			<% end %>
		<% end %>
	<% end %>
<% end %>
</ul>
