<nav>
	<div class="centernav">
	<ul>
		<li class="nav-li" ><a href="/" class='nav-links' ><b>HOME</b></a></li>
		<li class="nav-li"><div class='nav-search'>
			<i class="fa fa-search"></i>
			<input type="text" class="nav-input" size="50" placeholder="Search">	
		</div></li>
		<li class="nav-li" ><a href="/feeds" class='nav-links' >T5E Feeds</a></li>
		<% if logged_in? %>
			<li class="nav-li" ><%= link_to "All Posts", posts_path, class: "nav-links" %></li>
			<% if admin? %>
				<li class="nav-li" ><%= link_to "New Post", new_post_path, class: "nav-links" %></li>
			<% end %>	
			<li class="dropdown nav-li">
				<a href="#" class="dropdown-toggle nav-links" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.fullname %><span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><%= link_to "Profile" %></li>
					<li><%= link_to "Categories",cats_path %></li>
					<li><%= link_to "Log out", logout_path , method: "delete" %></li>             </ul>
			</li>
			<li class="nav-li"><a class="btn btn-warning" href="http://students.iitm.ac.in/feedback">Give Feedback</a></li>
		<% end %>
	</ul>
	</div>
</nav>
