<% usercat=Usercat.find_by(user_id: getid) %>
<% if !usercat.nil? %>
	<% cats= usercat.categories %>
	<% cats = cats.split(',') %>
	<% cats.map!{ |c| c.to_i } %>
	<% @cats=Array.new %>
	<% cats.each do |cat| %>
		<% c=Cat.find_by(id:cat) %>
		<% @cats.push(c) %>
	<% end %>	
<% else %>
	<% @cats=Cat.all %>
<% end %>
<div class="sidenav">
	<ul id="menu-content" class="menu-content">
		<li class="side-list"><a href="/" class="side-a active">All<span class="arrow"></span></a>
	<% @cats.each do |cat| %>
			<li data-toggle="collapse" data-target="#<%= cat.category %>" class="collapsed side-list"><a href="/tags/<%= cat.category %>" class="side-a"><%= cat.category %><span class="arrow"></span></a>
      </li>
			<% @subcats=cat.subcats %>
      <ul class="sub-menu collapse" id="<%= cat.category %>">
				<% @subcats.each do |subcat| %>
					<li class="side-sublist"><a href="#" class="side-b"><%= subcat.name %></a></li>
				<% end %>
			</ul>
		<% end %>
	</ul>
</div>
<div class="notifs container-fluid">
	<% if !@notifs.nil? && !@notifs.empty? %>
			<div class="col-md-7 ntif">
				<%= render :partial => 'notif',:locals=>{notifs: @notifs} %>
			</div>
	<% end %>
<div class="modal fade" id="postModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">-</h4>
        </div>
        <div class="modal-body">
         <p> </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
<%= javascript_include_tag "staticpages" %>
