<table>
<tr>
      <td>Posted by:</td>
      <td><%= post.user.fullname %></td>
      <td>Title:</td>
      <td><%= post.title %></td>
      <td>Post: </td>
      <td><%= simple_format(post.content,html_options={class: "content"},wrapper_tag:"div") %></td>
    </tr>
</table><br>
<% @comments = Comment.where(post_id: post.id) %>
<div class = <%= post.id %>>
<% @comments.each do |comment| %>
  <%= render :partial => 'comments/comment',	:locals => { comment: comment }%>
 	<% if false %>
		<%= render comment %>
		<%= render 'comments/comment', comment: comment %>
	<% end %>
<% end %>
</div>
<%= form_for(:comment, url: comments_path, remote: true) do |f| %>

  <%= f.label :newcomment %>
  <%= f.text_field :newcomment , required: true%>
  <%= f.text_field :id, :value => post.id ,:style => "display:none" %>
  <%= f.submit "comment" %>

<% end %>

<br>

