<% post=@post %>
<div class="container">
	<div class="post container">
		<div class="row">
			<div class="post-head col-md-8">
				<h1><%= (post.title).upcase %></h1>
			</div>
		</div>
	<br>
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			on <%= (post.updated_at).strftime("%B %e,%Y") %>
			by <%= post.user.fullname %>
		</div>
	</div>
	<div class="row">
		<div class="post-body col-md-8">
			<%= simple_format(post.content,html_options={class: "content"},wrapper_tag:"div") %>
		</div>
		<div class="col-md-4 category">
			Category:<%= post.cat.category %>
		</div>
		<% if (post.fromdate).nil? && (post.todate).nil? && !(post.date).nil?%>
        	<div class="col-md-4">
          		<%= (post.date) %>
        	</div>
			<br>
      	<% end %>
      	<% if !(post.fromdate).nil? && !(post.todate).nil? && (post.date).nil? %>
      		<div class="col-md-4 dates">
        		from:<%=(post.fromdate)%>
        		<br>
        		to:<%= (post.todate) %>
      		</div>
      	<% end %>
		<% if !(post.time).nil? %>
			<div class="col-md-4">
				Time:<%= (post.time).strftime("%H %p") %>
			</div>
		<% end %>
		<% if !(post).location.nil? %>
			<div class="col-md-4">
        		Location:<%= post.location %>
      		</div>
		<% end %>
			<% if getid == post.user_id %>
				<%= link_to 'Edit', edit_post_path(post),:class => "btn btn-info" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?'},:class => "btn btn-danger" %>
			<% end %>
	</div>
</div>
