<div class="container-fluid cats">
<div class="row">

<%= content_for :title do %>
  Preferences
<% end %>

<%= form_for(:category, url: cats_path, method: :post) do |f| %>
<% for cat in @cats %>
<p>
	<%=f.label cat.category %><br>
	<%=check_box_tag   "category[#{cat.id}]" ,cat.id,@check.include?(cat.id.to_s) %>

</p>
<%end %>
<%= f.submit :update %>
<% end %>
</div>
</div>
	<br>





